<main role="main" class="container">
  <div class="jumbotron">
    <div class="float-right">
      <div class="btn-group btn-group-sm" role="group" aria-label="Controls">
        <button class="btn btn-sm btn-primary" type="button" (click)="saveSettings()">Speichern</button>
        <button class="btn btn-sm btn-warning" type="button" (click)="askForReboot()">Neustarten</button>
      </div>
    </div>
    <h1 class="h1">Wartungsmodus</h1>
    <div class="clearfix"></div>
    <div class="alert alert-warning" role="alert" *ngIf="!isAccessPoint" style="margin-top:5px">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Hinweis:</strong> Der Wartungsmodus wird nicht über den "HoneyPi"-AccessPoint aufgerufen. Änderungen werden daher erst nach einem Neustart aktiv (da der Tastendruck ausbleibt).
    </div>
    <div class="alert alert-success myAlert-top" role="alert" *ngIf="settingsSaved">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Gespeichert!</strong> Die Einstellungen wurden gespeichert.
    </div>
    <div class="alert alert-danger myAlert-top" role="alert" *ngIf="settingsError">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Fehler!</strong> Die Einstellungen konnten nicht gespeichert werden.
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ThingSpeak Einstellungen
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <app-thingspeak [(settings)]="settings"></app-thingspeak>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Internetverbindung
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <app-internet [(wifi)]="settings.internet"></app-internet>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Angeschlossene Sensoren
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <app-sensors [(settings)]="settings"></app-sensors>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Messdaten
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <app-measurement></app-measurement>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Protokoll
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            <app-log></app-log>
          </div>
        </div>
      </div>
      <!--
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Zeit- und Energiemanagement
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            <app-wittypi [(settings)]="settings"></app-wittypi>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</main>
<!-- Modal -->
<div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" [ngStyle]="!isConnected && {'display':'block'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Verbindung fehlgeschlagen</h5>
      </div>
      <div class="modal-body">
        <p>
          Die Bienenstockwaage ist gerade nicht erreichbar, vermutlich wurde das System neu gestartet, dies kann bis zu 1 Minute dauern.
        </p>
        <p>
          Stelle bitte sicher, dass du immernoch mit dem "HoneyPi"-WLAN verbunden bist. Die Verbindung könnte sich in der Zwischenzeit automatisch getrennt haben.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="getSettings()">Erneut versuchen</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isConnected" class="modal-backdrop fade show"></div>
