<main role="main" class="container">
  <div class="jumbotron">
    <h1>Hardware Einstellungen</h1>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ThingsSpeak Einstellungen
            </button>
            <div class="float-right">
              <button class="btn btn-primary" type="button" (click)="saveSettings()">Speichern</button>
            </div>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="form-group">
              <label for="tsChannelId">ThingsSpeak Channel-ID</label>
              <input type="number" class="form-control" [(ngModel)]="settings.tsChannelId" id="tsChannelId" name="tsChannelId" placeholder="Channel-ID">
            </div>
            <div class="form-group">
              <label for="tsWriteKey">ThingsSpeak Write-Key</label>
              <input type="text" class="form-control" [(ngModel)]="settings.tsWriteKey" id="tsWriteKey" name="tsWriteKey" placeholder="Write-Key">
            </div>
            <div class="form-group">
              <label for="tsReadKey">ThingsSpeak Read-Key</label>
              <input type="text" class="form-control" [(ngModel)]="settings.tsReadKey" id="tsReadKey" name="tsReadKey" placeholder="Read-Key">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Mobilfunkübertragung
            </button>
            <div class="float-right">
              <button class="btn btn-primary" type="button" (click)="saveSettings()">Speichern</button>
            </div>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="form-group">
              <label for="simApn">APN der SIM-Karte</label>
              <input type="text" class="form-control" [(ngModel)]="settings.simApn" id="simApn" name="simApn" placeholder="APN">
            </div>
            <div class="form-group">
              <label for="simTime">Übertragungsintervall</label>
              <select [(ngModel)]="settings.simTime" id="simTime" name="simTime" class="custom-select">
                <option value="1">1min</option>
                <option value="5">5min</option>
                <option value="30">30min</option>
                <option value="60">1h</option>
                <option value="180">3h</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Angeschlossene Sensoren
            </button>
            <div class="float-right">
              <button class="btn btn-primary" type="button" (click)="saveSettings()">Speichern</button>
            </div>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm table-responsive-md">
              <thead>
              <tr>
                <th>Sensortyp</th>
                <th>ThingsSpeak-Feldname</th>
                <th>Messintervall</th>
                <th>GPIO-PIN</th>
                <th>Entfernen</th>
              </tr>
              </thead>
              <tbody id="sensors">
              <tr *ngFor="let sensor of settings.sensoren; let i = index">
                <td>
                  <select [(ngModel)]="sensor.type" name="sensor-type" class="custom-select">
                    <option value="0">Temperatursensor (DS18b20)</option>
                    <option value="1">BME680 (Temperatur+Luftfeuchtigkeit+Luftdruck+Qualität)</option>
                    <option value="2">Gewichtssensor (A/D: HX711)</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="sensor.tsField" name="tsField" placeholder="Feldname">
                </td>
                <td>
                  <select [(ngModel)]="sensor.time" name="sensor-time" class="custom-select">
                    <option value="1">1min</option>
                    <option value="5">5min</option>
                    <option value="30">30min</option>
                    <option value="60">1h</option>
                    <option value="180">3h</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control"  [(ngModel)]="sensor.pin" name="pin" placeholder="PIN">
                </td>
                <td>
                  <button class="btn btn-danger" (click)="removeSensor(i)">
                    &#x232b;
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <button class="btn btn-primary" (click)="addSensor()">
                    &#x2b; Sensor hinzufügen
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <hr />
            <div class="form-group">
              <label for="set_reference_unit">Wägezellen Kalibrierungswert</label>
              <input type="number" class="form-control" [(ngModel)]="settings.set_reference_unit" id="set_reference_unit" name="set_reference_unit" placeholder="Kalibrierungswert">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
