<!--
<label for="{{ field_id }}">{{ label }}</label>
<input type="number" class="form-control" [(ngModel)]="field_value" id="{{ field_id }}" name="{{ field_id }}" placeholder="GPIO" [required]="required">
-->

<label for="{{ field_id }}">{{ label }}</label>
<select [(ngModel)]="field" id="{{ field_id }}" name="{{ field_id }}" (ngModelChange)="onChange($event)" class="custom-select" [required]="required">
  <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'GPIO'}"></option>
  <option [value]="2" disabled>GPIO2 (reserved BME680 SDI/SDA)</option>
  <option [value]="3" disabled>GPIO3 (reserved BME680 SCL/SCK)</option>
  <option [value]="4" disabled>GPIO4 (reserved WittyPi)</option>
  <option [value]="5" [disabled]="disabled_pins.includes(5)">GPIO5 (Default: HX711 DT)</option>
  <option [value]="6" [disabled]="disabled_pins.includes(6)">GPIO6 (Default: HX711 SCK)</option>
  <option [value]="7" [disabled]="disabled_pins.includes(7)">GPIO7</option>
  <option [value]="8" [disabled]="disabled_pins.includes(8)">GPIO8</option>
  <option [value]="9" [disabled]="disabled_pins.includes(9)">GPIO9 (Default: DHT11/22)</option>
  <option [value]="10" [disabled]="disabled_pins.includes(10)">GPIO10</option>
  <option [value]="11" [disabled]="disabled_pins.includes(11)">GPIO11 (Default: DS18b20)</option>
  <option [value]="12" [disabled]="disabled_pins.includes(12)">GPIO12 (Default: HX711_2 DT)</option>
  <option [value]="13" [disabled]="disabled_pins.includes(13)">GPIO13 (Default: HX711_2 SCK)</option>
  <option [value]="14" [disabled]="disabled_pins.includes(14)">GPIO14</option>
  <option [value]="15" [disabled]="disabled_pins.includes(15)">GPIO15</option>
  <option [value]="16" [disabled]="disabled_pins.includes(16)">GPIO16 (Default: Button)</option>
  <option [value]="17" disabled>GPIO17 (reserved WittyPi)</option>
  <option [value]="18" [disabled]="disabled_pins.includes(18)">GPIO18 (Default: MAX CLK)</option>
  <option [value]="19" [disabled]="disabled_pins.includes(19)">GPIO19 (Default: MAX MISO)</option>
  <option [value]="20" [disabled]="disabled_pins.includes(20)">GPIO20</option>
  <option [value]="21" [disabled]="disabled_pins.includes(21)">GPIO21 (Default: LED)</option>
  <option [value]="22" [disabled]="disabled_pins.includes(22)">GPIO22</option>
  <option [value]="23" [disabled]="disabled_pins.includes(23)">GPIO23</option>
  <option [value]="24" [disabled]="disabled_pins.includes(24)">GPIO24</option>
  <option [value]="25" [disabled]="disabled_pins.includes(25)">GPIO25</option>
  <option [value]="26" [disabled]="disabled_pins.includes(26)">GPIO26 (Default: MAX CS)</option>
  <option [value]="27" [disabled]="disabled_pins.includes(27)">GPIO27 (Default: MAX CS2)</option>
</select>
