<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{ 'alerts.afterSave' | translate}}
</div>
<h5 class="h5" [translate]="'settings.internet.wifi'"></h5>
<div class="form-check">
  <input class="form-check-input" type="checkbox" [(ngModel)]="wifi.router.enabled" id="enabledWifi">
  <label class="form-check-label" for="enabledWifi" [translate]="'settings.internet.connectWifi'"></label>
</div>
<div class="row" *ngIf="wifi.router.enabled">
  <div class="form-group col-12 col-sm-4">
    <label for="ssid" [translate]="'settings.internet.ssid'"></label>
    <input type="text" class="form-control" [(ngModel)]="wifi.router.ssid" id="ssid" name="ssid" placeholder="{{ 'settings.internet.ssid' | translate}}"
    required [maxlength]="32" #router_ssid="ngModel">
  </div>
  <div class="form-group col-12 col-sm-4" [hidden]="wifi.router.wpa_type === 2">
      <label for="password" [translate]="'settings.internet.password'"></label>
      <input type="text" class="form-control" [(ngModel)]="wifi.router.password" id="password" name="password" placeholder="{{ 'settings.internet.password' | translate}}"
      required [minlength]="8" [maxlength]="63" [pattern]="disallowedChars" #router_password="ngModel">
  </div>
  <!-- WPA2 select -->
  <div class="form-group col-12 col-sm-4">
    <label for="wpa_type" [translate]="'settings.internet.wpa_type'"></label>
    <select [(ngModel)]="wifi.router.wpa_type" id="wpa_type" name="wpa_type" class="custom-select" required>
      <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'settings.internet.wpa_type' | translate}"></option>
      <option [ngValue]="0">WPA2 (default)</option>
      <!--<option [ngValue]="1">WEP</option>-->
      <option [ngValue]="2">No Password</option>
    </select>
  </div>
  <div *ngIf="(router_ssid?.value && router_ssid?.value?.indexOf(' ') !== -1)"
       class="alert alert-warning col-12" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ 'error.spaces' | translate: { field: 'settings.internet.ssid' | translate} }}
  </div>
  <div *ngIf="(router_password?.value && router_password?.value?.indexOf(' ') !== -1)"
       class="alert alert-warning col-12" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ 'error.spaces' | translate: { field: 'settings.internet.password' | translate} }}
  </div>
  <div *ngIf="router_ssid.invalid && (router_ssid.dirty || router_ssid.touched)"
       class="alert alert-danger col-12" role="alert">
    <div *ngIf="router_ssid?.errors.required">
      {{ 'error.required' | translate: { field: 'settings.internet.ssid' | translate} }}
    </div>
    <div *ngIf="router_ssid?.errors.maxlength">
      {{ 'error.length' | translate: { field: 'settings.internet.ssid' | translate} }}
    </div>
  </div>
  <div *ngIf="router_password.invalid && (router_password.dirty || router_password.touched)"
       class="alert alert-danger col-12" role="alert">
    <div *ngIf="router_password?.errors.required">
      {{ 'error.required' | translate: { field: 'settings.internet.password' | translate} }}
    </div>
    <div *ngIf="router_password?.errors.minlength || router_password?.errors.maxlength">
      {{ 'error.length' | translate: { field: 'settings.internet.password' | translate} }}
    </div>
    <div *ngIf="router_password?.errors.pattern">
      {{ 'error.specialchar' | translate: { field: 'settings.internet.password' | translate} }}
    </div>
  </div>
</div>
<hr />
<h5 class="h5" [translate]="'settings.internet.honeypiModem'"></h5>
<div class="form-check">
  <input class="form-check-input" type="checkbox" [(ngModel)]="wifi.modem.enabled" id="enabledModem">
  <label class="form-check-label" for="enabledModem" [translate]="'settings.internet.connectModem'"></label>
</div>
<div *ngIf="wifi.modem.enabled">
  <div class="row">
    <div class="form-group col-12 col-sm-6">
      <label for="honeypiModemApn">{{ 'settings.internet.apn' | translate}}</label>
      <input type="text" class="form-control" [(ngModel)]="wifi.modem.apn" id="honeypiModemApn" name="honeypiModemApn" placeholder="{{ 'settings.internet.apn' | translate}}" required>
    </div>
    <!-- ttyUSB path -->
    <div class="form-group col-12 col-sm-6">
      <label for="ttyUSB" [translate]="'settings.internet.ttyUSB'"></label>
      <select [(ngModel)]="wifi.modem.ttyUSB" id="ttyUSB" name="ttyUSB" class="custom-select" required>
        <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'settings.internet.ttyUSB' | translate}"></option>
        <option [ngValue]="'ttyUSB0'">ttyUSB0 (default)</option>
        <option [ngValue]="'ttyUSB1'">ttyUSB1</option>
        <option [ngValue]="'ttyUSB2'">ttyUSB2</option>
        <option [ngValue]="'ttyS0'">ttyS0</option>
        <option [ngValue]="'ttyS1'">ttyS1</option>
      </select>
    </div>
  </div>
</div>
<hr />
<h5 class="h5" [translate]="'settings.internet.isMobileConnected'"></h5>
<p>
  <button type="button" role="button" class="btn btn-warning btn-sm" (click)="checkInternet()" [disabled]="isLoading"  [class.spinner]="isLoading"  [translate]="'settings.internet.testConnection'"></button>
</p>
<div *ngIf="checkInternetResponse">
  <div class="alert alert-success" role="alert" *ngIf="checkInternetResponse.connected">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span [innerHTML]="'settings.internet.testSuccess' | translate"></span>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!checkInternetResponse.connected">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span [innerHTML]="'settings.internet.testError' | translate"></span>
  </div>
  <pre class="pre-scrollable" *ngIf="!checkInternetResponse.connected && checkInternetResponse.content">{{checkInternetResponse.content | json}}</pre>
  <!--
  <div class="alert alert-info" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span [innerHTML]="'settings.internet.infoConnection' | translate"></span>
  </div>
  -->
</div>
<hr />
<p>
  <a class="text-danger" data-toggle="collapse" href="#collapseAP" role="button" aria-expanded="false" aria-controls="collapseAP" [translate]="'settings.internet.collapseAP'"></a>
</p>
<div class="collapse" id="collapseAP">
  <div class="card card-body">
    <h5 class="h5" [translate]="'settings.internet.honeypiAP'"></h5>
    <p [translate]="'settings.internet.honeypiAPtext'"></p>
    <div class="row">
      <div class="form-group col-12 col-sm-6">
        <label for="honeypiWifissid">{{ 'settings.internet.ssid' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="wifi.honeypi.ssid" id="honeypiWifissid" name="honeypiWifissid" placeholder="{{ 'settings.internet.ssid' | translate}}">
      </div>
      <div class="form-group col-12 col-sm-6">
        <label for="honeypiWifipassword">{{ 'settings.internet.password' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="wifi.honeypi.password" id="honeypiWifipassword" name="honeypiWifipassword" placeholder="{{ 'settings.internet.password' | translate}}">
      </div>
    </div>
    <hr />
    <h5 class="h5" [translate]="'settings.internet.isSurfstickConnected'"></h5>
    <p>
      <button type="button" role="button" class="btn btn-warning btn-sm" (click)="checkDiag()" [disabled]="isLoadingAP"  [class.spinner]="isLoadingAP"  [translate]="'settings.internet.testDiag'"></button>
    </p>
    <pre class="pre-scrollable" *ngIf="checkSurfstickResponse">{{checkSurfstickResponse}}</pre>
  </div>
</div>
