<!-- Table with sensors -->
<table class="table table-bordered table-sm" style="position:relative;overflow-x:hidden;overflow-y:auto">
  <tbody id="sensors">
  <ng-container *ngFor="let sensor of settings.sensors; let i = index">
    <tr [ngClass]="{'my-bg': (i%2 == 0)}">
      <td>
        <select [(ngModel)]="sensor.type" name="sensor-type" class="custom-select" required>
          <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'settings.sensors.sensor' | translate}"></option>
          <option [ngValue]="0" [translate]="'settings.sensors.sensor_0'">Temperatursensor (DS18b20)</option>
          <option [ngValue]="1" [translate]="'settings.sensors.sensor_1'">Temperatur+Luftfeuchtigkeit+Luftdruck+Qualität (BME680)</option>
          <option [ngValue]="5" [translate]="'settings.sensors.sensor_5'">Temperatur+Luftfeuchtigkeit+Luftdruck (BME280)</option>
          <option [ngValue]="2" [translate]="'settings.sensors.sensor_2'">Gewichtssensor (A/D: HX711)</option>
          <option [ngValue]="3" [translate]="'settings.sensors.sensor_3'">Luftfeuchtigkeit und Temperatur (DHT)</option>
          <option [ngValue]="4" [translate]="'settings.sensors.sensor_4'">Temperatursensor (MAX6675/MAX31855)</option>
          <option [ngValue]="6" [translate]="'settings.sensors.sensor_6'">Voltmeter (A/D: PCF8591)</option>
          <option [ngValue]="7" [translate]="'settings.sensors.sensor_7'">CO2, Temp, Luftdruck (EE895)</option>
          <option [ngValue]="8" [translate]="'settings.sensors.sensor_8'">Luftfeuchtigkeit und Temperatur (HDC1008)</option>
          <option [ngValue]="9" [translate]="'settings.sensors.sensor_9'">Luftfeuchtigkeit und Temperatur (SHT31)</option>
          <option [ngValue]="10" [translate]="'settings.sensors.sensor_10'">Luftfeuchtigkeit und Temperatur (AHT10)</option>
          <option [ngValue]="11" [translate]="'settings.sensors.sensor_11'">Lichtsensor (BH1750)</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger float-right" (click)="removeSensor(i)" title="{{'buttons.remove' | translate}}">
          &#x232b;
        </button>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 0" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="device_id">Sensor Device-ID</label>
            <select [(ngModel)]="sensor.device_id" id="device_id" name="device_id" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'Device-ID'}" disabled></option>
              <ng-container *ngFor="let device of temperatureSensors">
                <option [ngValue]="device">{{ device }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.thingspeak.field' | translate)"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'1-WIRE GPIO'"
                                 [field_id]="'w1gpio'"
                                 (fieldChanged)="settings.w1gpio = $event"
                                 [field]="settings.w1gpio"
                                 [required]="true"
                                 [disabled_pins]="[settings.led_pin,settings.button_pin]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="offset_ds18b20">{{'settings.sensors.temperature' | translate}} {{'settings.sensors.offset' | translate }} [°C]</label>
            <input type="number" step="0.1" class="form-control" [(ngModel)]="sensor.offset" id="offset_ds18b20" name="offset_ds18b20" placeholder="{{'settings.sensors.offset' | translate }}" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" [checked]="isChecked(sensor)" (change)="sensor.pin = changeCheck($event)" id="use_3V" name="use_3V">
              <label class="form-check-label" for="use_3V" [translate]="'settings.sensors.use3V'"></label>
            </div>
            <ng-container *ngIf="isChecked(sensor)">
              <settings-gpio-field [label]="'3.3V GPIO'"
                                   [field_id]="'ds18b20_3Vpin'"
                                   (fieldChanged)="sensor.pin = $event"
                                   [field]="sensor.pin"
                                   [required]="false"
                                   [disabled_pins]="[settings.w1gpio,settings.led_pin,settings.button_pin]"></settings-gpio-field>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="alert alert-warning" *ngIf="temperatureSensorWasFiltered && temperatureSensors.length == 0" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span [innerHTML]="'alerts.deviceId' | translate"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="alert alert-info" *ngIf="temperatureSensors.length == 0">
              {{'alerts.noTempSensorFound' | translate}}<br>
              {{'settings.sensors.checkWires' | translate}} <a (click)="getTemperatureSensors()" [routerLink]="">{{'buttons.refresh' | translate}}</a> {{'settings.sensors.checkWiresSuffix' | translate}}
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 1" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.temperature' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" [channels]="settings.ts_channels"></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.humidity' | translate)"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" [channels]="settings.ts_channels"></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.pressure' | translate)"
                               [ts_field_id]="'ts_field_air_pressure'"
                               (ts_fieldChanged)="sensor.ts_field_air_pressure = $event"
                               [ts_field]="sensor.ts_field_air_pressure" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.quality' | translate)"
                               [ts_field_id]="'ts_field_air_quality'"
                               (ts_fieldChanged)="sensor.ts_field_air_quality = $event"
                               [ts_field]="sensor.ts_field_air_quality" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.ts_field_absolutehumidity' | translate)"
                               [ts_field_id]="'ts_field_absolutehumidity'"
                               (ts_fieldChanged)="sensor.ts_field_absolutehumidity = $event"
                               [ts_field]="sensor.ts_field_absolutehumidity" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="offset_bme680">{{'settings.sensors.temperature' | translate}} {{'settings.sensors.offset' | translate }} [°C]</label>
            <input type="number" step="0.1" class="form-control" [(ngModel)]="sensor.offset" id="offset_bme680" name="offset_bme680" placeholder="{{'settings.sensors.offset' | translate }}" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="i2c_addr" [innerHTML]="'settings.sensors.i2c_addr' | translate"></label>
            <select [(ngModel)]="sensor.i2c_addr" id="i2c_addr" name="i2c_addr" class="custom-select">
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'I2C-Address'}" disabled></option>
              <option [ngValue]="'0x76'">0x76</option>
              <option [ngValue]="'0x77'">0x77</option>
            </select>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 2" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'GPIO DT'"
                                 [field_id]="'pin_dt'"
                                 (fieldChanged)="sensor.pin_dt = $event"
                                 [field]="sensor.pin_dt"
                                 [required]="true"
                                 [disabled_pins]="[settings.led_pin,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'GPIO SCK'"
                                 [field_id]="'pin_sck'"
                                 (fieldChanged)="sensor.pin_sck = $event"
                                 [field]="sensor.pin_sck"
                                 [required]="true"
                                 [disabled_pins]="[settings.led_pin,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="channel">HX711 Channel</label>
            <select [(ngModel)]="sensor.channel" name="channel" id="channel" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'Channel'}"></option>
              <option [ngValue]="'A'">Channel A</option>
              <option [ngValue]="'B'">Channel B</option>
            </select>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.thingspeak.field' | translate)"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <button class="btn btn-sm btn-outline-primary" (click)="showCalibration[i]=true;" style="width:100%" [disabled]="!(sensor.pin_dt && sensor.pin_sck && sensor.channel)">
               {{'settings.sensors.calibration.guidedTour' | translate}}
            </button>
          </div>
          <!-- Modal for HX711 calibration -->
          <sensors-weight-calibration style="z-index:9999;position:absolute" *ngIf="showCalibration[i]===true" (closeModal)="showCalibration[i]=$event" [sensor]="sensor" (calibrationChange)="sensor.offset = $event['offset'];sensor.reference_unit = $event['reference_unit']"></sensors-weight-calibration>
          <div class="form-group col-12 col-sm-6">
            <label for="offset">{{'settings.sensors.weightcell' | translate }} {{'settings.sensors.offset' | translate }}</label>
            <input type="number" step="1" class="form-control" [(ngModel)]="sensor.offset" id="offset" name="offset" placeholder="{{'settings.sensors.offset' | translate }}" required>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="reference_unit">{{'settings.sensors.weightcell' | translate }} {{'settings.sensors.scale' | translate }}</label>
            <input type="number" step="0.0001" class="form-control"
                   [ngModel]="sensor.reference_unit | number:'1.0-4'"
                   (ngModelChange)="sensor.reference_unit=$event"
                   id="reference_unit" name="reference_unit" placeholder="{{'settings.sensors.scale' | translate }}"
                   #ref_unit="ngModel" required [min]="0.0001" [max]="999.9999" />
            <div *ngIf="ref_unit.invalid && (ref_unit.dirty || ref_unit.touched)"
                 class="alert alert-danger col-12" role="alert" style="margin-top:5px">
              <div *ngIf="ref_unit?.errors.required">
                {{'error.required' | translate: { field: 'settings.sensors.scale' | translate} }}
              </div>
              <div *ngIf="ref_unit?.errors.min || ref_unit?.errors.max">
                {{'error.length' | translate: { field: 'settings.sensors.scale' | translate} }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="alert alert-info" [innerHTML]="'alerts.hx711.offset' | translate"></div>
          </div>
          <div class="col-12 col-md-6">
            <div class="alert alert-info" [innerHTML]="'alerts.hx711.scale' | translate"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="invert" [(ngModel)]="sensor.invert" id="invert">
              <label class="form-check-label" for="invert" [translate]="'settings.sensors.invert'"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="filter_negative" [(ngModel)]="sensor.filter_negative" id="filter_negative">
              <label class="form-check-label" for="filter_negative" [translate]="'settings.sensors.filter_negative'"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="sensor.compensation" id="compensation">
              <label class="form-check-label" for="compensation" [translate]="'settings.sensors.enableCompensation'"></label>
            </div>
          </div>
          <div class="col-12">
          <div class="card card-body" *ngIf="sensor.compensation">
            <div class="row">
              <div class="form-group col-12 col-sm-6">
                <label for="compensation_value" [translate]="'settings.sensors.compensationValue'"></label>
                <input type="number" step="0.01" class="form-control" [(ngModel)]="sensor.compensation_value" id="compensation_value" name="compensation_value" placeholder="{{'settings.sensors.compensationValuePlaceholder'|translate}}" required />
              </div>
              <div class="form-group col-12 col-sm-6">
                <label for="compensation_temp" [translate]="'settings.sensors.compensationTemp'"></label>
                <input type="number" step="0.01" class="form-control" [(ngModel)]="sensor.compensation_temp" id="compensation_temp" name="compensation_temp" placeholder="{{'settings.sensors.compensationTempPlaceholder'|translate}}" required />
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <settings-ts-field [label]="'settings.sensors.compensationSelectTemp' | translate"
                                   [ts_field_id]="'ts_field_temperature'"
                                   (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                                   [ts_field]="sensor.ts_field_temperature" [channels]="settings.ts_channels" [required]="true"></settings-ts-field>
              </div>
              <div class="col-12 col-sm-6">
                <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.ts_field_uncompensated' | translate)"
                                   [ts_field_id]="'ts_field_uncompensated'"
                                   (ts_fieldChanged)="sensor.ts_field_uncompensated = $event"
                                   [ts_field]="sensor.ts_field_uncompensated" [channels]="settings.ts_channels" ></settings-ts-field>
              </div>
            </div>
          </div>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 3" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.temperature' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.humidity' | translate)"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'GPIO'"
                                 [field_id]="'pin'"
                                 (fieldChanged)="sensor.pin = $event"
                                 [field]="sensor.pin"
                                 [required]="true"
                                 [disabled_pins]="[settings.led_pin,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="dht_type" [translate]="'settings.sensors.selectType'"></label>
            <select [(ngModel)]="sensor.dht_type" id="dht_type" name="dht_type" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'DHT'}" disabled></option>
              <option [ngValue]="11">DHT11</option>
              <option [ngValue]="22">DHT22</option>
              <option [ngValue]="2302">AM2302</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="offset_dht">{{'settings.sensors.temperature' | translate}} {{'settings.sensors.offset' | translate }} [°C]</label>
            <input type="number" step="0.1" class="form-control" [(ngModel)]="sensor.offset" id="offset_dht" name="offset_dht" placeholder="{{'settings.sensors.offset' | translate }}" />
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 4" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'Chip-Select (CS)-GPIO'"
                                 [field_id]="'pin_cs'"
                                 (fieldChanged)="sensor.pin_cs = $event"
                                 [field]="sensor.pin_cs"
                                 [required]="true"
                                 [disabled_pins]="[settings.led_pin,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'Clock (CLK)-GPIO'"
                                 [field_id]="'pin_clock'"
                                 (fieldChanged)="sensor.pin_clock = $event"
                                 [field]="sensor.pin_clock"
                                 [required]="true"
                                 [disabled_pins]="[settings.led_pin,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'Daten (MISO)-GPIO'"
                                 [field_id]="'pin_miso'"
                                 (fieldChanged)="sensor.pin = $event"
                                 [field]="sensor.pin"
                                 [required]="true"
                                 [disabled_pins]="[settings.led_pin,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="dht_type" [translate]="'settings.sensors.selectType'"></label>
            <select [(ngModel)]="sensor.max_type" id="max_type" name="max_type" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'MAX'}" disabled></option>
              <option [ngValue]="6675">MAX6675</option>
              <option [ngValue]="31855">MAX31855</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="offset_max">{{'settings.sensors.temperature' | translate}} {{'settings.sensors.offset' | translate }} [°C]</label>
            <input type="number" step="0.1" class="form-control" [(ngModel)]="sensor.offset" id="offset_max" name="offset" placeholder="{{'settings.sensors.offset' | translate }}" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.thingspeak.field' | translate)"
                               [ts_field_id]="'ts_field'"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 5" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.temperature' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.humidity' | translate)"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.pressure' | translate)"
                               [ts_field_id]="'ts_field_air_pressure'"
                               (ts_fieldChanged)="sensor.ts_field_air_pressure = $event"
                               [ts_field]="sensor.ts_field_air_pressure" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.ts_field_absolutehumidity' | translate)"
                               [ts_field_id]="'ts_field_absolutehumidity'"
                               (ts_fieldChanged)="sensor.ts_field_absolutehumidity = $event"
                               [ts_field]="sensor.ts_field_absolutehumidity" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="offset_bme280">{{'settings.sensors.temperature' | translate}} {{'settings.sensors.offset' | translate }} [°C]</label>
            <input type="number" step="0.1" class="form-control" [(ngModel)]="sensor.offset" id="offset_bme280" name="offset_bme280" placeholder="{{'settings.sensors.offset' | translate }}" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="i2c_addr" [innerHTML]="'settings.sensors.i2c_addr' | translate"></label>
            <select [(ngModel)]="sensor.i2c_addr" id="i2c_addr" name="i2c_addr" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'I2C-Address'}" disabled></option>
              <option [ngValue]="'0x76'">0x76</option>
              <option [ngValue]="'0x77'">0x77</option>
            </select>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 6" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.thingspeak.field' | translate)"
                               [ts_field_id]="'ts_field'"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" [channels]="settings.ts_channels"></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="pcf8591_pin" [translate]="'settings.sensors.selectPin'"></label>
            <select [(ngModel)]="sensor.pin" id="pcf8591_pin" name="pcf8591_pin" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'PIN'}" disabled></option>
              <option [ngValue]="0">AIN0</option>
              <option [ngValue]="1">AIN1</option>
              <option [ngValue]="2">AIN2 (default)</option>
              <option [ngValue]="3">AIN3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="ic2_voltage" [translate]="'settings.sensors.selectI2CVoltage'"></label>
            <ng-container *ngIf="[undefined, 16.5, 25, 29.7].includes(sensor.I2CVoltage)">
              <select [(ngModel)]="sensor.I2CVoltage" id="ic2_voltage" name="ic2_voltage" class="custom-select" required>
                <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'VCC'}" disabled></option>
                <option [ngValue]="16.5">Max. 16.5V 3.3V&#215;(30k&#8486;&#247;7.5k&#8486;+1) (default)</option>
                <option [ngValue]="25">Max. 25V 5V&#215;(30k&#8486;&#247;7.5k&#8486;+1)</option>
                <option [ngValue]="29.7">Max. 29.7V 3.3V&#215;(40k&#8486;&#247;5k&#8486;+1)</option>
                <option [ngValue]="null" style="font-style:italic"><em>{{'settings.sensors.customValue' | translate }}</em></option>
            </select>
            </ng-container>
            <ng-container *ngIf="![undefined, 16.5, 25, 29.7].includes(sensor.I2CVoltage)">
              <div class="input-group mb-3">
                <input type="number" step="0.01" class="form-control" [(ngModel)]="sensor.I2CVoltage" id="ic2_voltage_c" name="ic2_voltage_c" placeholder="{{'settings.sensors.selectI2CVoltage_c' | translate }}" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="sensor.I2CVoltage=undefined" type="button">X</button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 7" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.co2' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.temperature' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.pressure' | translate)"
                               [ts_field_id]="'ts_field_air_pressure'"
                               (ts_fieldChanged)="sensor.ts_field_air_pressure = $event"
                               [ts_field]="sensor.ts_field_air_pressure" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 8 || sensor.type == 9 || sensor.type == 10" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.temperature' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.humidity' | translate)"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="i2c_addr_8" [innerHTML]="'settings.sensors.i2c_addr' | translate"></label>
            <select [(ngModel)]="sensor.i2c_addr" id="i2c_addr_8" name="i2c_addr_8" class="custom-select">
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'I2C-Address'}" disabled></option>
              <option [ngValue]="'0x40'">0x40 (HDC1008)</option>
              <option [ngValue]="'0x41'">0x41 (HDC1080)</option>
              <option [ngValue]="'0x44'">0x44 (SHT31)</option>
              <option [ngValue]="'0x45'">0x45 (SHT31)</option>
              <option [ngValue]="'0x38'">0x38 (AHT10)</option>
              <option [ngValue]="'0x39'">0x39 (AHT10)</option>
            </select>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 11" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.light' | translate)"
                               [ts_field_id]="'ts_field'"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" [channels]="settings.ts_channels" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="i2c_addr_8" [innerHTML]="'settings.sensors.i2c_addr' | translate"></label>
            <select [(ngModel)]="sensor.i2c_addr" id="i2c_addr_8" name="i2c_addr_8" class="custom-select">
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'I2C-Address'}" disabled></option>
              <option [ngValue]="'0x23'">0x23 (default)</option>
              <option [ngValue]="'0x5C'">0x5C</option>
            </select>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  <tr>
    <td colspan="2">
      <button class="btn btn-primary" (click)="addSensor()" title="{{'buttons.add' | translate}}">
        &#x2b; {{'settings.sensors.addSensor' | translate}}
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'alerts.gpio' | translate"></span>
</div>
<p>
  <a class="text-danger" data-toggle="collapse" href="#collapseSensor" role="button" aria-expanded="false" aria-controls="collapseSensor">
    {{'settings.sensors.advancedSettings' | translate}}
  </a>
</p>
<div class="collapse" id="collapseSensor">
  <div class="card card-body">
    <div class="form-group">
      <settings-gpio-field [label]="'settings.sensors.ledPin' | translate"
                           [field_id]="'led_pin'"
                           (fieldChanged)="settings.led_pin = $event"
                           [field]="settings.led_pin"
                           [required]="true"
                           [disabled_pins]="[settings.button_pin,settings.w1gpio]"></settings-gpio-field>
    </div>
    <div class="form-group">
      <settings-gpio-field [label]="'settings.sensors.buttonPin' | translate"
                           [field_id]="'button_pin'"
                           (fieldChanged)="settings.button_pin = $event"
                           [field]="settings.button_pin"
                           [required]="true"
                           [disabled_pins]="[settings.led_pin,settings.w1gpio]"></settings-gpio-field>
    </div>
    <div class="alert alert-info" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{ 'alerts.afterSave' | translate}}
    </div>
  </div>
</div>

