<table class="table table-bordered table-sm table-responsive-md">
  <thead>
  <tr>
    <th colspan="2">Sensoren</th>
  </tr>
  </thead>
  <tbody id="sensors">
  <ng-container *ngFor="let sensor of settings.sensors; let i = index">
    <tr [ngClass]="{'my-bg': (i%2 == 0)}">
      <td>
        <select [(ngModel)]="sensor.type" name="sensor-type" class="custom-select">
          <option [ngValue]="0">Temperatursensor (DS18b20)</option>
          <option [ngValue]="1">BME680 (Temperatur+Luftfeuchtigkeit+Luftdruck+Qualität)</option>
          <option [ngValue]="2">Gewichtssensor (A/D: HX711)</option>
          <option [ngValue]="3">Luftfeuchtigkeit und Temperatur (DHT)</option>
          <option [ngValue]="4">Temperatursensor (MAX6675/MAX31855)</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger float-right" (click)="removeSensor(i)" title="Entfernen">
          &#x232b;
        </button>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 0" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-6">
            <label for="device_id">Sensor Device-ID</label>
            <select [(ngModel)]="sensor.device_id" id="device_id" name="device_id" class="custom-select" required>
              <option [ngValue]="undefined">Device-ID auswählen...</option>
              <ng-container *ngFor="let device of temperatureSensors">
                <option [ngValue]="device">{{ device }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak Feldname'"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="alert alert-warning" *ngIf="temperatureSensorWasFiltered && temperatureSensors.length == 0" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Hinweis:</strong> Es wurde ein Sensor mit einer ungültigen Device-ID festgestellt.
              Dies tritt unter anderem beim DS18B20 dann auf, wenn ein Widerstand vergessen wurde oder ein falscher Widerstand verwendet wurde.
              Eine weitere Ursache könnte ein angeschlossener DHT-Sensor sein. <strong>In diesem Fall kann dieser Hinweis ignoriert werden.</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="alert alert-info" *ngIf="temperatureSensors.length == 0">
              Es konnte kein Temperatursensor am Gerät gefunden werden.<br>
              Prüfe ob die Sensoren richtig angeschlossen sind und <a (click)="getTemperatureSensors()" [routerLink]="">aktualisiere</a> die Liste.
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 1" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak Temperatur'"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" ></settings-ts-field>
          </div>
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak Luftfeuchtigkeit'"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak Luftdruck'"
                               [ts_field_id]="'ts_field_air_pressure'"
                               (ts_fieldChanged)="sensor.ts_field_air_pressure = $event"
                               [ts_field]="sensor.ts_field_air_pressure" ></settings-ts-field>
          </div>
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak Qualität'"
                               [ts_field_id]="'ts_field_air_quality'"
                               (ts_fieldChanged)="sensor.ts_field_air_quality = $event"
                               [ts_field]="sensor.ts_field_air_quality" ></settings-ts-field>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 2" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-6">
            <label for="pin_dt">GPIO DT</label>
            <input type="number" class="form-control" [(ngModel)]="sensor.pin_dt" id="pin_dt" name="pin_dt" placeholder="DT" required>
          </div>
          <div class="form-group col-6">
            <label for="pin_sck">GPIO SCK</label>
            <input type="number" class="form-control" [(ngModel)]="sensor.pin_sck" id="pin_sck" name="pin_sck" placeholder="SCK" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="channel">HX711 Channel</label>
            <select [(ngModel)]="sensor.channel" name="channel" id="channel" class="custom-select" required>
              <option [ngValue]="undefined">Channel auswählen...</option>
              <option [ngValue]="'A'">Channel A</option>
              <option [ngValue]="'B'">Channel B</option>
            </select>
          </div>
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak Feldname'"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="offset">Wägezellen Offset</label>
            <input type="number" step="1" class="form-control" [(ngModel)]="sensor.offset" id="offset" name="offset" placeholder="Offset" required>
          </div>
          <div class="form-group col-6">
            <label for="reference_unit">Wägezellen Skalierungswert</label>
            <input type="number" step="0.0001" class="form-control"
                   [ngModel]="sensor.reference_unit | number:'1.0-4'"
                   (ngModelChange)="sensor.reference_unit=$event"
                   id="reference_unit" name="reference_unit" placeholder="Skalierungswert"
                   #ref_unit="ngModel" required [min]="0.0001" [max]="999.9999" />
            <div *ngIf="ref_unit.invalid && (ref_unit.dirty || ref_unit.touched)"
                 class="alert alert-danger" style="margin-top:5px">
              <div *ngIf="ref_unit?.errors.required">
                Eine Eingabe für "Skalierungswert" wird benötigt. Standard ist "1"
              </div>
              <div *ngIf="ref_unit?.errors.min || ref_unit?.errors.max">
                Der Skalierungswert liegt außerhalb des gültigen Wertebereichs.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="alert alert-info">
              <b>Offset:</b> Beeinflusst das Messergebnis indem das Offset vom Messwert abgezogen wird.
              <br />Kann auch eine negative Zahl sein. Angabe in Gramm. Standard ist "0".
            </div>
          </div>
          <div class="col-6">
            <div class="alert alert-info">
              <b>Skalierungswert:</b> Beeinflusst das Messergebnis indem (Messwert-Offset) durch den Skalierungswert geteilt wird.
              <br />Es sind vier Nachkommastellen erlaubt und die Nachkommastellen werden mit Punkt und nicht mit Komma getrennt.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="invert" [(ngModel)]="sensor.invert" id="invert">
              <label class="form-check-label" for="invert">Vorzeichen umkehren (Inverse)</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="sensor.compensation" id="compensation">
              <label class="form-check-label" for="compensation">
                Temperaturkompensation bei temperaturbedingten Messabweichungen
              </label>
            </div>
          </div>
          <div class="col-12">
          <div class="card card-body" *ngIf="sensor.compensation">
            <div class="row">
              <div class="form-group col-6">
                <label for="compensation_value">Korrekturwert [Gramm pro °C]</label>
                <input type="number" step="0.01" class="form-control" [(ngModel)]="sensor.compensation_value" id="compensation_value" name="compensation_value" placeholder="Kompensationswert" required />
              </div>
              <div class="form-group col-6">
                <label for="compensation_temp">Temperatur bei Kalibrierung</label>
                <input type="number" step="0.01" class="form-control" [(ngModel)]="sensor.compensation_temp" id="compensation_temp" name="compensation_temp" placeholder="Temperaturwert (z.B. 22°C)" required />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <settings-ts-field [label]="'Auswahl des Temperatursensors'"
                                   [ts_field_id]="'ts_field_temperature'"
                                   (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                                   [ts_field]="sensor.ts_field_temperature" [required]="true"></settings-ts-field>
              </div>
            </div>
          </div>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 3" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak Temperatur'"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" ></settings-ts-field>
          </div>
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak Luftfeuchtigkeit'"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="pin">GPIO</label>
            <input type="number" class="form-control" [(ngModel)]="sensor.pin" id="pin" name="pin" placeholder="GPIO" required/>
          </div>
          <div class="form-group col-6">
            <label for="dht_type">Auswahl des Sensormodells</label>
            <select [(ngModel)]="sensor.dht_type" id="dht_type" name="dht_type" class="custom-select" required>
              <option [ngValue]="undefined">DHT auswählen...</option>
              <option [ngValue]="11">DHT11</option>
              <option [ngValue]="22">DHT22</option>
              <option [ngValue]="2302">AM2302</option>
            </select>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 4" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-6">
            <label for="pin_cs">Chip-Select (CS)-GPIO</label>
            <input type="number" class="form-control" [(ngModel)]="sensor.pin" id="pin_cs" name="pin" placeholder="GPIO" required/>
          </div>
          <div class="form-group col-6">
            <label for="pin_clk">Clock (CLK)-GPIO</label>
            <input type="number" class="form-control" [(ngModel)]="sensor.pin" id="pin_clk" name="pin" placeholder="GPIO" required/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="pin_miso">Daten (MISO)-GPIO</label>
            <input type="number" class="form-control" [(ngModel)]="sensor.pin" id="pin_miso" name="pin" placeholder="GPIO" required/>
          </div>
          <div class="form-group col-6">
            <label for="dht_type">Auswahl des Sensormodells</label>
            <select [(ngModel)]="sensor.max_type" id="max_type" name="max_type" class="custom-select" required>
              <option [ngValue]="undefined">MAX auswählen...</option>
              <option [ngValue]="6675">MAX6675</option>
              <option [ngValue]="31855">MAX31855</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="offset_max">Offset</label>
            <input type="number" step="1" class="form-control" [(ngModel)]="sensor.offset" id="offset_max" name="offset" placeholder="Offset" required>
          </div>
          <div class="form-group col-6">
            <settings-ts-field [label]="'ThingSpeak'"
                               [ts_field_id]="'ts_field'"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" ></settings-ts-field>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  <tr>
    <td colspan="2">
      <button class="btn btn-primary" (click)="addSensor()" title="Hinzufügen">
        &#x2b; Sensor hinzufügen
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <b>GPIO:</b> Die Kontaktstifte auf dem Raspberry Pi Board haben zwei Nummerierungen. Eine physische von 1 bis 40 und eine für jeden frei programmierbaren GPIO. Bei der Angabe des Kontaktstiftes wird hier im Wartungsmodus immer die GPIO Nummerierung angegeben.
</div>
<div class="form-group">
  <label for="interval">Messintervall</label>
  <select [(ngModel)]="settings.interval" id="interval" name="interval" class="custom-select" required>
    <option [ngValue]="undefined">Intervall auswählen...</option>
    <option [ngValue]="60">1min</option>
    <option [ngValue]="300">5min</option>
    <option [ngValue]="600">10min</option>
    <option [ngValue]="900">15min</option>
    <option [ngValue]="1800">30min</option>
    <option [ngValue]="3600">60min</option>
    <option [ngValue]="7200">2h</option>
    <option [ngValue]="10800">3h</option>
    <option [ngValue]="14400">4h</option>
    <option [ngValue]="1">Einmalige Übertragung nach dem Anschalten</option>
    <option [ngValue]="0">Keine Messdatenübertragung</option>
  </select>
</div>
<p>
  <a class="text-danger" data-toggle="collapse" href="#collapseSensor" role="button" aria-expanded="false" aria-controls="collapseSensor">
    Erweiterte Einstellungen »
  </a>
</p>
<div class="collapse" id="collapseSensor">
  <div class="card card-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="debug" [(ngModel)]="settings.debug" id="debug">
          <label class="form-check-label" for="debug">Debug-Modus aktivieren <small>(keine Neustarts, HDMI-Ausgang an, erfolgreiche Übertragungen im Protokoll)</small></label>
        </div>
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label for="button_pin">Wartungsmodus-Taster GPIO</label>
      <input type="number" class="form-control" [(ngModel)]="settings.button_pin" id="button_pin" name="button_pin" placeholder="GPIO" required>
    </div>
    <div class="alert alert-info">Die Änderung am Taster wird nach einem Neustart aktiv.</div>
  </div>
</div>

