<table class="table table-bordered table-sm table-responsive-md">
  <tbody id="sensors">
  <ng-container *ngFor="let sensor of settings.sensors; let i = index">
    <tr [ngClass]="{'my-bg': (i%2 == 0)}">
      <td>
        <select [(ngModel)]="sensor.type" name="sensor-type" class="custom-select" required>
          <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'settings.sensors.sensor' | translate}"></option>
          <option [ngValue]="0" [translate]="'settings.sensors.sensor_0'">Temperatursensor (DS18b20)</option>
          <option [ngValue]="1" [translate]="'settings.sensors.sensor_1'">BME680 (Temperatur+Luftfeuchtigkeit+Luftdruck+Qualität)</option>
          <option [ngValue]="5" [translate]="'settings.sensors.sensor_5'">BME280 (Temperatur+Luftfeuchtigkeit+Luftdruck)</option>
          <option [ngValue]="2" [translate]="'settings.sensors.sensor_2'">Gewichtssensor (A/D: HX711)</option>
          <option [ngValue]="3" [translate]="'settings.sensors.sensor_3'">Luftfeuchtigkeit und Temperatur (DHT)</option>
          <option [ngValue]="4" [translate]="'settings.sensors.sensor_4'">Temperatursensor (MAX6675/MAX31855)</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger float-right" (click)="removeSensor(i)" title="{{'buttons.remove' | translate}}">
          &#x232b;
        </button>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 0" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="device_id">Sensor Device-ID</label>
            <select [(ngModel)]="sensor.device_id" id="device_id" name="device_id" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'Device-ID'}"></option>
              <ng-container *ngFor="let device of temperatureSensors">
                <option [ngValue]="device">{{ device }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.thingspeak.field' | translate)"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'1-WIRE GPIO'"
                                 [field_id]="'w1gpio'"
                                 (fieldChanged)="settings.w1gpio = $event"
                                 [field]="settings.w1gpio"
                                 [required]="true"
                                 [disabled_pins]="[21,settings.button_pin]"></settings-gpio-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="alert alert-warning" *ngIf="temperatureSensorWasFiltered && temperatureSensors.length == 0" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span [innerHTML]="'alerts.deviceId' | translate"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="alert alert-info" *ngIf="temperatureSensors.length == 0">
              {{'alerts.noTempSensorFound' | translate}}<br>
              {{'settings.sensors.checkWires' | translate}} <a (click)="getTemperatureSensors()" [routerLink]="">{{'buttons.refresh' | translate}}</a> {{'settings.sensors.checkWiresSuffix' | translate}}
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 1" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.temperature' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.humidity' | translate)"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.pressure' | translate)"
                               [ts_field_id]="'ts_field_air_pressure'"
                               (ts_fieldChanged)="sensor.ts_field_air_pressure = $event"
                               [ts_field]="sensor.ts_field_air_pressure" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.quality' | translate)"
                               [ts_field_id]="'ts_field_air_quality'"
                               (ts_fieldChanged)="sensor.ts_field_air_quality = $event"
                               [ts_field]="sensor.ts_field_air_quality" ></settings-ts-field>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 2" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'GPIO DT'"
                                 [field_id]="'pin_dt'"
                                 (fieldChanged)="sensor.pin_dt = $event"
                                 [field]="sensor.pin_dt"
                                 [required]="true"
                                 [disabled_pins]="[21,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'GPIO SCK'"
                                 [field_id]="'pin_sck'"
                                 (fieldChanged)="sensor.pin_sck = $event"
                                 [field]="sensor.pin_sck"
                                 [required]="true"
                                 [disabled_pins]="[21,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="channel">HX711 Channel</label>
            <select [(ngModel)]="sensor.channel" name="channel" id="channel" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'Channel'}"></option>
              <option [ngValue]="'A'">Channel A</option>
              <option [ngValue]="'B'">Channel B</option>
            </select>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.thingspeak.field' | translate)"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="offset">{{'settings.sensors.weightcell' | translate }} {{'settings.sensors.offset' | translate }}</label>
            <input type="number" step="1" class="form-control" [(ngModel)]="sensor.offset" id="offset" name="offset" placeholder="{{'settings.sensors.offset' | translate }}" required>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="reference_unit">{{'settings.sensors.weightcell' | translate }} {{'settings.sensors.scale' | translate }}</label>
            <input type="number" step="0.0001" class="form-control"
                   [ngModel]="sensor.reference_unit | number:'1.0-4'"
                   (ngModelChange)="sensor.reference_unit=$event"
                   id="reference_unit" name="reference_unit" placeholder="{{'settings.sensors.scale' | translate }}"
                   #ref_unit="ngModel" required [min]="0.0001" [max]="999.9999" />
            <div *ngIf="ref_unit.invalid && (ref_unit.dirty || ref_unit.touched)"
                 class="alert alert-danger col-12" role="alert" style="margin-top:5px">
              <div *ngIf="ref_unit?.errors.required">
                {{'error.required' | translate: { field: 'settings.sensors.scale' | translate} }}
              </div>
              <div *ngIf="ref_unit?.errors.min || ref_unit?.errors.max">
                {{'error.length' | translate: { field: 'settings.sensors.scale' | translate} }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="alert alert-info" [innerHTML]="'alerts.hx711.offset' | translate"></div>
          </div>
          <div class="col-12 col-md-6">
            <div class="alert alert-info" [innerHTML]="'alerts.hx711.scale' | translate"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="invert" [(ngModel)]="sensor.invert" id="invert">
              <label class="form-check-label" for="invert" [translate]="'settings.sensors.invert'"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="sensor.compensation" id="compensation">
              <label class="form-check-label" for="compensation" [translate]="'settings.sensors.enableCompensation'"></label>
            </div>
          </div>
          <div class="col-12">
          <div class="card card-body" *ngIf="sensor.compensation">
            <div class="row">
              <div class="form-group col-12 col-sm-6">
                <label for="compensation_value" [translate]="'settings.sensors.compensationValue'"></label>
                <input type="number" step="0.01" class="form-control" [(ngModel)]="sensor.compensation_value" id="compensation_value" name="compensation_value" placeholder="{{'settings.sensors.compensationValuePlaceholder'|translate}}" required />
              </div>
              <div class="form-group col-12 col-sm-6">
                <label for="compensation_temp" [translate]="'settings.sensors.compensationTemp'"></label>
                <input type="number" step="0.01" class="form-control" [(ngModel)]="sensor.compensation_temp" id="compensation_temp" name="compensation_temp" placeholder="{{'settings.sensors.compensationTempPlaceholder'|translate}}" required />
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <settings-ts-field [label]="'settings.sensors.compensationSelectTemp' | translate"
                                   [ts_field_id]="'ts_field_temperature'"
                                   (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                                   [ts_field]="sensor.ts_field_temperature" [required]="true"></settings-ts-field>
              </div>
            </div>
          </div>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 3" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.temperature' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.humidity' | translate)"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'GPIO'"
                                 [field_id]="'pin'"
                                 (fieldChanged)="sensor.pin = $event"
                                 [field]="sensor.pin"
                                 [required]="true"
                                 [disabled_pins]="[21,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="dht_type" [translate]="'settings.sensors.selectType'"></label>
            <select [(ngModel)]="sensor.dht_type" id="dht_type" name="dht_type" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'DHT'}"></option>
              <option [ngValue]="11">DHT11</option>
              <option [ngValue]="22">DHT22</option>
              <option [ngValue]="2302">AM2302</option>
            </select>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 4" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'Chip-Select (CS)-GPIO'"
                                 [field_id]="'pin_cs'"
                                 (fieldChanged)="sensor.pin_cs = $event"
                                 [field]="sensor.pin_cs"
                                 [required]="true"
                                 [disabled_pins]="[21,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'Clock (CLK)-GPIO'"
                                 [field_id]="'pin_clock'"
                                 (fieldChanged)="sensor.pin_clock = $event"
                                 [field]="sensor.pin_clock"
                                 [required]="true"
                                 [disabled_pins]="[21,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-gpio-field [label]="'Daten (MISO)-GPIO'"
                                 [field_id]="'pin_miso'"
                                 (fieldChanged)="sensor.pin = $event"
                                 [field]="sensor.pin"
                                 [required]="true"
                                 [disabled_pins]="[21,settings.button_pin,settings.w1gpio]"></settings-gpio-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label for="dht_type" [translate]="'settings.sensors.selectType'"></label>
            <select [(ngModel)]="sensor.max_type" id="max_type" name="max_type" class="custom-select" required>
              <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'MAX'}"></option>
              <option [ngValue]="6675">MAX6675</option>
              <option [ngValue]="31855">MAX31855</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label for="offset_max" [translate]="'settings.sensors.offset'"></label>
            <input type="number" step="1" class="form-control" [(ngModel)]="sensor.offset" id="offset_max" name="offset" placeholder="{{'settings.sensors.offset' | translate }}" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.thingspeak.field' | translate)"
                               [ts_field_id]="'ts_field'"
                               (ts_fieldChanged)="sensor.ts_field = $event"
                               [ts_field]="sensor.ts_field" ></settings-ts-field>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="sensor.type == 5" [ngClass]="{'my-bg': (i%2 == 0)}">
      <td colspan="2">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.temperature' | translate)"
                               [ts_field_id]="'ts_field_temperature'"
                               (ts_fieldChanged)="sensor.ts_field_temperature = $event"
                               [ts_field]="sensor.ts_field_temperature" ></settings-ts-field>
          </div>
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.humidity' | translate)"
                               [ts_field_id]="'ts_field_humidity'"
                               (ts_fieldChanged)="sensor.ts_field_humidity = $event"
                               [ts_field]="sensor.ts_field_humidity" ></settings-ts-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <settings-ts-field [label]="'ThingSpeak ' + ('settings.sensors.pressure' | translate)"
                               [ts_field_id]="'ts_field_air_pressure'"
                               (ts_fieldChanged)="sensor.ts_field_air_pressure = $event"
                               [ts_field]="sensor.ts_field_air_pressure" ></settings-ts-field>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  <tr>
    <td colspan="2">
      <button class="btn btn-primary" (click)="addSensor()" title="{{'buttons.add' | translate}}">
        &#x2b; {{'settings.sensors.addSensor' | translate}}
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'alerts.gpio' | translate"></span>
</div>
<div class="form-group">
  <label for="interval" [translate]="'settings.sensors.measurementInterval'">></label>
  <select [(ngModel)]="settings.interval" id="interval" name="interval" class="custom-select" required>
    <option [ngValue]="undefined" [translate]="'buttons.select' | translate: {value: 'settings.sensors.interval' | translate}"></option>
    <option [ngValue]="60">1min</option>
    <option [ngValue]="300">5min</option>
    <option [ngValue]="600">10min</option>
    <option [ngValue]="900">15min</option>
    <option [ngValue]="1800">30min</option>
    <option [ngValue]="3600">60min</option>
    <option [ngValue]="7200">2h</option>
    <option [ngValue]="10800">3h</option>
    <option [ngValue]="14400">4h</option>
    <option [ngValue]="1">{{'settings.sensors.measurementOnce' | translate}}</option>
    <option [ngValue]="0">{{'settings.sensors.measurementNone' | translate}}</option>
  </select>
</div>
<div class="form-group form-check" *ngIf="settings.interval === 1">
  <input type="checkbox" class="form-check-input" name="shutdownAfterTransfer" [(ngModel)]="settings.shutdownAfterTransfer" id="shutdownAfterTransfer">
  <label class="form-check-label" for="shutdownAfterTransfer" [innerHTML]="'settings.sensors.shutdownAfterTransfer' | translate"></label>
</div>
<div class="alert alert-info" role="alert" *ngIf="settings.interval === 1">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'alerts.shutdownAfterTransfer' | translate"></span>
</div>
<p>
  <a class="text-danger" data-toggle="collapse" href="#collapseSensor" role="button" aria-expanded="false" aria-controls="collapseSensor">
    {{'settings.sensors.advancedSettings' | translate}}
  </a>
</p>
<div class="collapse" id="collapseSensor">
  <div class="card card-body">
    <div class="row">
      <div class="col-12">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="debug" [(ngModel)]="settings.debug" id="debug">
          <label class="form-check-label" for="debug" [innerHTML]="'settings.sensors.debug' | translate"></label>
        </div>
      </div>
    </div>
    <hr />
    <div class="form-group">
      <settings-gpio-field [label]="'settings.sensors.buttonPin' | translate"
                           [field_id]="'button_pin'"
                           (fieldChanged)="settings.button_pin = $event"
                           [field]="settings.button_pin"
                           [required]="true"
                           [disabled_pins]="[21,settings.w1gpio]"></settings-gpio-field>
    </div>
    <div class="alert alert-info" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{ 'alerts.afterSave' | translate}}
    </div>
  </div>
</div>

