<h5 class="h5" [translate]="'settings.update.title'"></h5>
<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'alerts.updateInfo' | translate"></span>
</div>
<ng-container *ngIf="isLoading">
  <div id="circle">
    <div class="loader">
      <div class="loader">
        <div class="loader">
          <div class="loader">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<pre class="pre-scrollable" *ngIf="log">{{log}}</pre>
<p>
  <button class="btn btn-primary btn-sm" type="button" role="button" (click)="update('update')" [disabled]="isLoading" [translate]="'settings.update.update'"></button>
</p>
<!--
<p>
  <button class="btn btn-danger btn-sm" type="button" role="button" (click)="update('install')" [disabled]="isLoading" [translate]="'settings.update.install'"></button>
</p>
-->
<hr />
<h5 class="h5" [translate]="'settings.update.export'"></h5>
<div class="form-group">
  <label for="settingsFile" [translate]="'settings.log.importSettings'"></label>
  <input type="file"
         id="settingsFile" name="settingsFile" class="form-control-file"
         accept="application/json,.json"
         (change)="onFileChanged($event)" #fileInput />
</div>
<div class="btn-group btn-group-sm" role="group">
  <a href="./backend/settings.json" target="_blank" download="settings-backup.json" class="btn btn-primary btn-sm"
     [translate]="'settings.log.export'"></a>
  <button class="btn btn-warning btn-sm" type="button" role="button"
          (click)="fileInput.click()" [translate]="'settings.log.import'"></button>
</div>
