<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'alerts.updateInfo' | translate"></span>
</div>
<div class="alert alert-warning" role="alert" *ngIf="isAccessPoint">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'alerts.updateAP' | translate"></span>
</div>
<div class="alert alert-success" role="alert" *ngIf="!isAccessPoint">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'alerts.updateNotAP' | translate"></span>
</div>
<h5 class="h5" [translate]="'settings.update.title'"></h5>
<pre class="pre-scrollable" *ngIf="log">Log: {{log | json}}</pre>
<ng-container *ngIf="versionInfo">
  <ng-container *ngIf="versionInfo['mode']['versionInfo']">
    <b>Aktuelle Version: </b>
    <pre class="pre-scrollable">{{versionInfo['mode']['versionInfo']}}</pre><br>
  </ng-container>
  • <b>Wartungsmodus: </b> <i>{{versionInfo['mode']['webinterface'].tag_name}}</i>
  <pre class="pre-scrollable" *ngIf="versionInfo['mode'].scripts.body && versionInfo['mode'].webinterface.body != ''">Changelog:
{{versionInfo['mode'].webinterface.body}}</pre>
  <br>
  • <b>Messskripte: </b> <i>{{versionInfo['mode']['scripts'].tag_name}}</i>
  <pre class="pre-scrollable" *ngIf="versionInfo['mode'].scripts.body && versionInfo['mode'].scripts.body != ''">Changelog:
{{versionInfo['mode'].scripts.body}}</pre>
</ng-container>

<p>
  <button class="btn btn-primary btn-sm mr-1 mt-1" type="button" role="button" (click)="getVersionInfo()" [disabled]="isLoading" [translate]="'settings.update.preupdate'"></button>
  <button class="btn btn-warning btn-sm mt-1" *ngIf="versionInfo" type="button" role="button" (click)="update('update')" [disabled]="isLoading" [translate]="'settings.update.update'"></button>
</p>

<hr />
<h5 class="h5" [translate]="'settings.update.export'"></h5>
<div class="form-group">
  <label for="settingsFile" [translate]="'settings.log.importSettings'"></label>
  <input type="file"
         id="settingsFile" name="settingsFile" class="form-control-file"
         accept="application/json,.json"
         (change)="onFileChanged($event)" #fileInput />
</div>
<div class="btn-group btn-group-sm" role="group">
  <a href="./backend/settings.json" target="_blank" download="settings-backup.json" class="btn btn-primary btn-sm"
     [translate]="'settings.log.export'"></a>
  <button class="btn btn-warning btn-sm" type="button" role="button"
          (click)="fileInput.click()" [translate]="'settings.log.import'"></button>
</div>
<ng-container *ngIf="isLoading">
  <div id="circle">
    <div class="loader">
      <div class="loader">
        <div class="loader">
          <div class="loader">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
