<div class="row">
  <div class="col-12">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" name="offline" [(ngModel)]="settings.offline" id="offline">
      <label class="form-check-label" for="offline" [innerHTML]="'settings.offline.offline' | translate"></label>
    </div>
  </div>
</div>
<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'settings.offline.infoExport' | translate"></span>
</div>
<hr />
<h5 class="h5" [translate]="'settings.offline.export'"></h5>
<a href="{{apiURL}}offlinecsv.php" target="_blank" download="HoneyPi-export.csv" class="btn btn-primary btn-sm"
   [translate]="'settings.offline.exportButton'"></a>

