<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'settings.measurement.info' | translate: {tab: 'settings.sensors.title' | translate}"></span>
</div>
<ng-container *ngIf="measurement !== null">
  <pre class="pre-scrollable" *ngIf="debugInfo">{{debugInfo}}</pre>
  <ul class="list-group" *ngIf="thingSpeakFields">
    <ng-container *ngFor="let n of numbers; let i = index">
      <li *ngIf="thingSpeakFields['field' + (i+1)] || thingSpeakFields['field' + (i+1)] === 0.0" id="abc_{{n}}"
          class="list-group-item">
        <strong>{{'settings.thingspeak.field' | translate}} {{(i+1)}}</strong>: {{thingSpeakFields['field' + (i+1)]}}
      </li>
    </ng-container>
    <li *ngIf="thingSpeakFields['latitude']" id="latitude" class="list-group-item">
      <strong>Latitude</strong>: {{thingSpeakFields['latitude']}}
    </li>
    <li *ngIf="thingSpeakFields['longitude']" id="longitude" class="list-group-item">
      <strong>Longitude</strong>: {{thingSpeakFields['longitude']}}
    </li>
    <li *ngIf="thingSpeakFields['elevation']" id="elevation" class="list-group-item">
      <strong>Elevation</strong>: {{thingSpeakFields['elevation']}}
    </li>
  </ul>
</ng-container>
<div *ngIf="isNoData" class="alert alert-warning" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span [innerHTML]="'settings.measurement.noData' | translate: {tab: 'settings.sensors.title' | translate}"></span>
</div>
<ng-container *ngIf="isLoading">
  <div id="circle">
    <div class="loader">
      <div class="loader">
        <div class="loader">
          <div class="loader">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!--
<p [translate]="'settings.measurement.construction'"></p>
-->
<br>
<button class="btn btn-primary btn-sm" type="button" role="button"
        (click)="getMeasurement()" [disabled]="isLoading" [translate]="'settings.measurement.get'"></button>

