<div class="alert alert-info">
  Hier werden die Sensoren angezeigt, die im Reiter "<strong>Angeschlossene Sensoren</strong>" konfiguriert und gespeichert sind. Es erfolgt kein Upload der Messdaten an ThingSpeak. Messung dauert bis zu 1 Minute.
</div>
<ng-container *ngIf="measurement">
  <pre class="pre-scrollable">{{measurement}}</pre>
  <ul class="list-group" *ngIf="thingSpeakFields">
    <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8]">
      <li *ngIf="thingSpeakFields['field' + i] || thingSpeakFields['field' + i] === 0.0"
          class="list-group-item">
        <strong>Feld {{i}}</strong>: {{thingSpeakFields['field' + i]}}
      </li>
    </ng-container>
  </ul>
</ng-container>
<ng-container *ngIf="isLoading">
  <div id="circle">
    <div class="loader">
      <div class="loader">
        <div class="loader">
          <div class="loader">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<p>Diese Ansicht ist bisher nur provisorisch und soll in der nächsten Firmware Version ausgebaut werden.</p>
<button class="btn btn-primary btn-sm" type="button" role="button" (click)="getMeasurement()" [disabled]="isLoading">Neue Messung abrufen</button>
