<div class="alert alert-info">
  Hier werden die Sensoren angezeigt, die im Reiter "<strong>Angeschlossene Sensoren</strong>" konfiguriert und gespeichert sind. Es erfolgt kein Upload der Messdaten an ThingSpeak. Messung dauert bis zu 1 Minute.
</div>
<ng-container *ngIf="measurement">
  <pre class="pre-scrollable">{{measurement}}</pre>
</ng-container>
<p>Diese Ansicht ist bisher nur provisorisch und soll in der nächsten Firmware Version ausgebaut werden.</p>
<button class="btn btn-primary btn-sm" type="button" role="button" (click)="getMeasurement()">Neue Messung abrufen</button>
